<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77715411070-9e6i7503snp73hrg2k0m0v0cdjs5lmec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77715411070-9e6i7503snp73hrg2k0m0v0cdjs5lmec</string>
	<key>API_KEY</key>
	<string>AIzaSyDV3bWtrXwm6rGNFTGaKjGQCBc1dNITieQ</string>
	<key>GCM_SENDER_ID</key>
	<string>77715411070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dalla.diaryApp</string>
	<key>PROJECT_ID</key>
	<string>diary-364506</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-364506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77715411070:ios:214d0cb215aebe9910482f</string>
</dict>
</plist>